.overflow {
    height: 50%;
    overflow: hidden;
}

.overflow .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover{
    transform: scale(1.8);
}

#nprogress .spinner-icon {
    border-top-color: yellow;
    border-left-color: yellow;
}